/* Document style pour la page index.html */

:root{
    --content-width: clamp(600px, 100%, 1200px);
}

/* Mise en forme des titres et paragraphes */
header, body{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    color: #2C7057;
}

h2{
    font-weight: 500;
    color: #2C7057;
}

h3{
    font-weight: 400;
    text-decoration: underline;
}

p{
    font-weight: 300;
}

ul{
    font-weight: 300;
    text-align: justify;
}

/* Animation de fondu et déplacement progressif des éléments */
@keyframes fadeInY {
    to {opacity: 1;
    transform: translateY(0)}
}

/* Animation de fondu */
@keyframes fadeIn {
    to {opacity: 1;}
}

body.visible{
    opacity: 1;
}

.anim{
    opacity: 0;
}

.anim_1{
    animation: fadeInY 1s forwards;
    transform: translateY(20px);
    animation-delay: 0s;
}

.anim_2{
    animation: fadeInY 1s forwards;
    transform: translateY(20px);
    animation-delay: 0.3s;
}

.anim_3{
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.anim_4{
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.anim_5{
    animation: fadeIn 1s forwards;
    animation-delay: 1.3s;
}

.anim_expe{
    width:auto;
    background-color: #2C7057;
    border-radius: 12px;
    transition: background-color 0.6s ease;
    padding: 1px;
}

.anim_expe:hover{
    cursor: pointer;
    background-color: #245c48;
}

body{
    width: var(--content-width);
    margin-left: calc((100vw - var(--content-width)) / 2);
    margin-right: calc((100vw - var(--content-width)) / 2);
    transition: margin-left 0.3s ease, margin-right 0.3s ease;
}

body.shifted {
    margin: 8px 30px;
}

/* Mise en forme de la partie présentation (conteneur de tête et parcours) */
.presentation{
    margin: 0 0;
    text-align: justify;
    padding: 20px;
}

/* Mise en forme du conteneur de tête (Photo et nom prénom) */
.head_conteneur{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto auto;
    width: 700px;
}

/* Mise en forme de la photo */
.photo{
    margin: auto auto;
    border: 6px solid #2C7057;
    display: block;
}

/* Mise en forme nom et prénom */
.identité{
    color: #2C7057;
    margin-bottom: 0px;
}

/* Mise en forme du statut */
.statut{
    margin-top: 0px;
}

/* Justification du texte de parcours */
.parcours{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

/* Mise en forme du conteneur général, permet l'affichage en grille */
.conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
    padding: 20px;
}

/* Mise en forme responsive pour les écrans plus petits */
@media (max-width: 1000px){
    .conteneur{
        display: flex;
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        margin: auto auto;
        gap: 30px;
    }
    .body.shifted {
        width: var(--content-width);
        margin-left: calc((100vw - var(--content-width)) / 2);
        margin-right: calc((100vw - var(--content-width)) / 2);
        transition: margin-left 0.3s ease, margin-right 0.3s ease;
    }
}

/* Input au bas de la page, prend toute la largeur */
.input{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

/* Création d'un fond pour le cadre d'expériences */
.experiences {
    background-color: #2C7057;
    color: white;
    border-radius: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: auto;
}

/* Changement de couleur des titres 1 dans expériences */
.experiences h2{
    color: white;
}

/* Mise en page de contact */
.contact{
    margin: 0%;
}

/* Mise en forme du side panel */
.side_panel{
    position: fixed;
    top: 0;
    right: 0;
    width: 650px;
    height: 100vh;
    background-color: #2C7057;
    box-shadow: -4px 0 12px rgba(0,0,0,0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

/* Animation d'activation du side panel */
.side_panel.active {
  transform: translateX(0);
}

.side_panel h2 {
    color: white;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
}

.side_panel h3 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.side_panel p {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

/* Mise en forme du contenu du side panel */
.img_ensosp {
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
}

.isafe{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.isafe_img {
    display: block;
    margin: 10px auto;
    border: 3px solid #ffffff;
    border-radius: 20px;
    height: 300px;
}

/* Classe pour cacher des éléments */
.hidden {
    display: none;
}