/* Document style pour la page index.html */

/* Mise en forme des titres et paragraphes */
header {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #2C7057;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#2C7057;
}

h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

h3{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    color:#2C7057;
}

p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

ul{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
}

/* Mise en forme de la partie présentation (conteneur de tête et parcours) */
.presentation{
    max-width: 1100px;
    margin: 0 0;
    text-align: justify;
    padding: 20px;
}

/* Mise en forme du conteneur de tête (Photo et nom prénom) */
.head_conteneur{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0;
    gap: 30px;
    width: 500px;
}

/* Mise en forme de la photo */
.photo{
    margin: auto auto;
    border: 6px solid #2C7057;
}

/* Correction du gap blanc sous la photo */
.photo img{
    display: block;
}

/* Alignement et réduction de la taille max du paragraphe de parcours */
.parcours{
    max-width: 1200px;
    margin: 0 0;
}

/* Mise en forme du conteneur général, permet l'affichage en grille */
.conteneur{
    display: grid;
    grid-template-columns: 600px 600px;
    width: 1200px;
    margin: 0 0;
    gap: 30px;
}

/* Classe bloc permettant de réunir des éléments dans une même case de la grille des conteneurs */
.bloc{
    max-width: 600px;
    margin: 0 0;
}

/* Création d'un fond pour le cadre d'expériences */
.experiences {
    background-color: #2C7057;
    color: white;
    border-radius: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

/* Changement de couleur des titres 1 dans expériences */
.experiences h1{
    color: white;
}


