/* Document style pour la page index.html */

/* Mise en forme des titres et paragraphes */
header, body{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

header{
    padding-top: 20px;
}

h1 {
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    color: #2C7057;
}

h2{
    font-weight: 500;
    color: #2C7057;
}

h3{
    font-weight: 400;
    text-decoration: underline;
}

p{
    font-weight: 300;
}

ul{
    font-weight: 300;
    text-align: justify;
}

/* Animation de fondu et déplacement progressif des éléments */
@keyframes fadeInY {
    to {opacity: 1;
    transform: translateY(0)}
}

@keyframes fadeInX {
    to {opacity: 1;
    transform: translateX(0)}
}

body.visible{
    opacity: 1;
}

.anim{
    opacity: 0;
}

.anim_1{
    animation: fadeInY 1s forwards;
    transform: translateY(20px);
    animation-delay: 0s;
}

.anim_2{
    animation: fadeInY 1s forwards;
    transform: translateY(20px);
    animation-delay: 0.5s;
}

.anim_3{
    opacity: 0;
    animation: fadeInX 1s forwards;
    transform: translateX(20px);
    animation-delay: 1s;
}

.anim_4{
    opacity: 0;
    animation: fadeInX 1s forwards;
    transform: translateX(20px);
    animation-delay: 1.5s;
}

body{
    margin: 0 auto;
    max-width: 1100px;
    min-width: 600px;
}

/* Mise en forme de la partie présentation (conteneur de tête et parcours) */
.presentation{
    margin: 0 0;
    text-align: justify;
    padding: 20px;
}

/* Mise en forme du conteneur de tête (Photo et nom prénom) */
.head_conteneur{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0;
    gap: 30px;
    width: 500px;
}

/* Mise en forme de la photo */
.photo{
    margin: auto auto;
    border: 6px solid #2C7057;
    display: block;
}

/* Mise en forme nom et prénom */
.identité{
    padding-top: 20px;
    color: #2C7057;
}

.statut{
    font-weight: 500;
    color:#2C7057;
}

.parcours{
    text-align: justify;
}

/* Mise en forme du conteneur général, permet l'affichage en grille */
.conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
    padding: 20px;
}

@media (max-width: 1000px){
    .conteneur{
        display: flex;
        display: grid;
        grid-template-columns: 1fr;
        width: 600px;
        margin: 0 0;
        gap: 30px;
    }
}

/* Input au bas de la page, prend toute la largeur */
.input{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

/* Création d'un fond pour le cadre d'expériences */
.experiences {
    background-color: #2C7057;
    color: white;
    border-radius: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: auto;
}

/* Changement de couleur des titres 1 dans expériences */
.experiences h2{
    color: white;
}

.input{
    max-width: 1200px;
    align-content: center;
}